@import "tailwindcss";

@font-face {
  font-family: "Maecenas";
  src: url("../public/font/maecenastest-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DancingScript";
  src: url("../public/font/DancingScript-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonPro";
  src: url("../public/font/CrimsonPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.bg-gradient-kylin {
  background: linear-gradient(90deg, #00e4a1, #5eead4);
}

.maecenastest-font {
  font-family: "Maecenas";
}

.dancing-font {
  font-family: "DancingScript";
}

.crimson-font {
  font-family: "CrimsonPro";
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-updown {
  animation: updown 2s ease-in-out infinite;
}

@keyframes downup {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
@keyframes slideFadeInRight {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slidefadein {
  animation: slideFadeInRight 0.8s ease-out forwards;
}

.animate-downup {
  animation: downup 2s ease-in-out infinite;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 150vw;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  background-image: radial-gradient(white 0.5px, black 0.5px);
  background-size: 15px 10px;
  z-index: -20; /* Send it to the back */
  transform: rotate(36deg);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-30px) translateX(20px);
  }
}

/* This can be added to your globals.css file or wherever you manage your global styles */
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #14b8a6;
  border-radius: 4px;
}
